html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
}

#reading{
    width: 100%;
    height: 100%;
}

#readArea{
    width: auto;
    height: auto;
    padding: 95px 135px 0px 330px;
}

/*#trans{*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: auto;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    padding: 10px 20px;*/
/*    border: 1px solid red;*/
/*    border-radius: 5px;*/
/*    font-size: 16pt;*/
/*}*/

.trans{
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 17pt;
}

#para{
    width: 100%;
    height: auto;
    display: table-cell;
    vertical-align: middle;

}

.word{
    font-size: 16pt;
    padding: 98px 7px;
    width: auto;
    height: auto;
    border-width: 0;
    display: inline;
    background: rgba(0,0,0,0);
    cursor: pointer;

}


/*.wordTranslation{*/
/*    height: 197px;*/
/*    display: inline;*/
/*    font-size: 8pt;*/
/*    border-width: 0;*/
/*    background: rgba(0,0,0,0);*/
/*}*/

/*.sentenceTranslation{*/

/*}*/

#pageBox{
    height: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
}