<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/label.css" type="text/css" rel="stylesheet" charset="utf-8">
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/vue@2/vue@2.6.10.js"></script>
    <script src="/static/js/axios@0.18.0.min.js"></script>
    <script src="/static/plugins/element@vue2/index.js"></script>
    <link href="/static/plugins/element@vue2/index.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Label</title>
</head>
<body>
<div id="app">
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    接下来，请在您刚才读完的文章中单击标注出阅读过程中不认识的单词，标注形式如下：
                    <img src="/static/images/labeling.jpg" width="100%" height="100%" alt="labeling instructions"></img>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">明白了！</button>
                </div>
            </div>

        </div>
    </div>
    <div id="labeling">
        <el-container>
            <el-main style="padding: 0 !important;">
                <div id="labelArea">
                    <div id="para">

                    </div>
                    <el-button type="primary" style="position: fixed;bottom: 5rem;right: 5rem;"
                               v-on:click="collect_labels">标注完成
                    </el-button>
                </div>
            </el-main>

        </el-container>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            content: "",
            contentOfPages: [],
            words: [],
            page: 1,
            totalPage: 1,
            misUnderstandWords: [],
            misUnderstandSentences: [],
            misUnderstandWordsLabel: [],
            wordLocation: 0,
        },
        methods: {
            getWordLocation: function (num) {
                return {
                    left: document.getElementsByClassName('word')[num].getBoundingClientRect().left,
                    top: document.getElementsByClassName('word')[num].getBoundingClientRect().top,
                    right: document.getElementsByClassName('word')[num].getBoundingClientRect().right,
                    bottom: document.getElementsByClassName('word')[num].getBoundingClientRect().bottom,
                };
            },

            changeWordSelect: function (num) {
                if ($('.word:eq(' + num + ')').css('text-decoration') == 'underline solid rgb(0, 0, 255)') {
                    $('.word:eq(' + num + ')').css('text-decoration', "");
                    $('.word:eq(' + num + ')').css('color', "black");
                    for (let i = 0; i < this.misUnderstandWords.length; i++) {
                        if (this.misUnderstandWords[i] == this.words[num])
                            this.misUnderstandWords.splice(i, 1);
                    }
                    for(let i=0;i<this.misUnderstandWordsLabel.length;i++){
                        if(num==this.misUnderstandWordsLabel[i]){
                            this.misUnderstandWordsLabel.splice(i,1);
                        }
                    }
                } else {
                    $('.word:eq(' + num + ')').css('text-decoration', "underline");
                    $('.word:eq(' + num + ')').css('color', "blue");
                    this.misUnderstandWords.push(this.words[num]);
                    this.misUnderstandWordsLabel.push(num);
                    console.log(this.misUnderstandWordsLabel);

                }
            },

            changeSentenceSelect: function (start, end) {
                for(let i = start; i < end; i++){
                    if($('.word:eq(' + i + ')').css('text-decoration') != 'underline solid rgb(0, 0, 255)'){
                        for(let j = start; j < end; j++) {
                            $('.word:eq(' + j + ')').css('text-decoration', 'underline solid rgb(0, 0, 255)');
                            $('.word:eq(' + j + ')').css('color', "blue");
                        }
                        this.misUnderstandSentences.push();
                        return;
                    }
                }
                for(let i = start; i < end; i++){
                    $('.word:eq(' + i + ')').css('text-decoration', '');
                    $('.word:eq(' + i + ')').css('color', "black");
                    this.misUnderstandSentences.splice();
                }
            },

            getPage: function () {
                let num = 0;
                var e = document.getElementById('para');
                console.log(this.content)
                console.log(this.page)
                var Content = this.content[this.page-1].split('.');
                Content.splice(Content.length-1, 1);
                for (let i = 0; i < Content.length; i++) {
                    var sentence = Content[i].split(' ');
                    for (let j = 0; j < sentence.length; j++) {
                        if (sentence[j] != "") {
                            this.words.push(sentence[j].split(',')[0]);
                            var el = document.createElement("button");
                            el.className = "word";
                            el.id = num.toString();
                            el.innerHTML = sentence[j];
                            el.setAttribute("onclick", "changeWordSelect(" + num + ")");
                            {#el.setAttribute("ondblclick", "getSentenceTranslation(" + num + ")");#}
                            if (j == sentence.length - 1)
                                el.innerHTML = sentence[j] + '.';
                            e.appendChild(el);
                            num += 1;
                        }
                    }
                }
            },

            //把labels发送给后端存储,并更新word_level_data
            collect_labels: function () {
                let formdata = new FormData();
                formdata.append("labels", this.misUnderstandWordsLabel.toString());
                $.ajax({
                    type: 'POST',
                    url: '/label/send/',
                    data: formdata,
                    success: function () {
                        console.log("success");

                    },
                    error: function () {
                        console.log("error");
                    },
                    contentType: false,
                    processData: false,
                })
            },

            //清空当前页面word按钮和translation的div块，并初始化参数
            clearPageWords: function () {
                let e = document.getElementById('para');
                while(e.hasChildNodes()){
                    e.removeChild(e.children[0]);
                }
                this.words = [];
                this.misUnderstandWords = [];
                this.misUnderstandSentences = [];
                this.misUnderstandWordsLabel = [];
            },

        },
        created() {
            this.content = getCookie('contentPerPage').split('-.');
            this.totalPage = this.content.length;
            this.getPage();
        },
        mounted() {
            window["changeWordSelect"] = (num) => {
                this.changeWordSelect(num);
            }
        },
    })

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + "; ";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $(document).keyup(function (event) {
        switch (event.keyCode) {
            case 37: {
                if (app._data.page > 1) {
                    app.clearPageWords();
                    app.collect_labels();
                    x = [];
                    y = [];
                    app._data.page = app._data.page - 1;
                    app.getPage();
                }
                break;
            }
            case 39: {
                if (app._data.page < app._data.totalPage) {
                    app.clearPageWords();
                    app.collect_labels();
                    x = [];
                    y = [];
                    app._data.page = app._data.page + 1;
                    app.getPage();
                    break;
                }
            }
        }
    });

    $(document).ready(function () {
        $('#helpModal').modal('show');
    });

</script>
</html>