<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reading</title>
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/vue@2/vue@2.6.10.js"></script>
    <script src="/static/js/axios@0.18.0.min.js"></script>
    <script src="/static/plugins/element@vue2/index.js"></script>
    <link href="/static/plugins/element@vue2/index.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="/static/css/onlineReading.css" type="text/css" rel="stylesheet" charset="utf-8">
    <!--bp5 css文件-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div id="tips_begin">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">MemXEdu</h1>
            <div class="col-lg-6 mx-auto mt-3">
                <p class="lead mb-4">
                    点击下方的“<strong>开始使用</strong>”按钮，即可使用本阅读软件。请注意：软件将以全屏模式运行，你可以使用“<strong>空格</strong>”键来结束使用。
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="get_start()">开始使用</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tips_end" style="display: none">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">MemXEdu</h1>
            <div class="col-lg-6 mx-auto mt-3">
                <p class="lead mb-4">
                    等待标注
                </p>
            </div>
        </div>
    </div>
    <div id="mainContent" style="display: none">
        <div id="reading">
            <el-container>
                <el-main style="padding: 0 !important;">
                    <div id="readArea">
                        {#                        <div id="trans">#}
                        {##}
                        {#                        </div>#}
                        <div id="para">

                        </div>
                    </div>
                </el-main>
                {#                <el-footer>#}
                {#                    <div id="pageBox">#}
                {#                        [[ page ]]#}
                {#                    </div>#}
                {#                </el-footer>#}
            </el-container>
        </div>
    </div>
</div>
</body>
<!--bp5 js集成文件-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!--webgazer-->
<script src="/static/js/webgazer.js"></script>
<!--截图相关-->
<script src="/static/js/canvas2image.js"></script>
<script src="/static/js/html2canvas.js"></script>
<!--自己写的js工具包-->
<script src="/static/js/utils.js"></script>


<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            content: "",
            words: [],
            page: 1,
            totalPage: 1,
            translation: [],
            rereading: [],
            wordLocation: 0,
            showBox: false,
            selectNode: null,
            currentTransWord: -1,
            currentTransBox: [],
            readSequel: [],
        },
        methods: {

            getWordLocation: function (num) {
                return {
                    left: document.getElementsByClassName('word')[num].getBoundingClientRect().left,
                    top: document.getElementsByClassName('word')[num].getBoundingClientRect().top,
                    right: document.getElementsByClassName('word')[num].getBoundingClientRect().right,
                    bottom: document.getElementsByClassName('word')[num].getBoundingClientRect().bottom,
                };
            },

            getWordTextLocation: function (num) {
                return {
                    left: document.getElementsByClassName('word')[num].getBoundingClientRect().left + 7,
                    top: document.getElementsByClassName('word')[num].getBoundingClientRect().top + 98,
                    right: document.getElementsByClassName('word')[num].getBoundingClientRect().right - 7,
                    bottom: document.getElementsByClassName('word')[num].getBoundingClientRect().bottom - 98,
                }
            },

            getTransLocation: function (num) {
                if(this.isTranslated(num)){
                    let i = this.getTransNum(num);
                    return {
                        left: document.getElementsByClassName('word')[i].getBoundingClientRect().left,
                        top: document.getElementsByClassName('word')[num].getBoundingClientRect().top,
                        right: document.getElementsByClassName('word')[num].getBoundingClientRect().right,
                        bottom: document.getElementsByClassName('word')[num].getBoundingClientRect().bottom,
                    }
                }else{
                    return null;
                }
            },

            getTransNum: function (num) {
                for (let i = 0; i < this.currentTransBox.length; i++) {
                    if (this.currentTransBox[i] == num)
                        return i;
                }
                return -1;
            },

            isTranslated: function (num) {
                for (let i = 0; i < this.currentTransBox.length; i++) {
                    if (this.currentTransBox[i] == num)
                        return true;
                }
                return false;
            },

            getWordTranslation: function (num) {
                if (!this.isTranslated(num)) {
                    {#if($('#trans').css('display') == "none")#}
                    {#    $('#trans').css('display','');#}
                    {#else if($('#trans').css('display') != "none" && this.currentTransWord == num)#}
                    {#    $('#trans').css('display','none');#}
                    this.changeTextStyle(num, num + 1);
                    this.wordLocation = this.getWordLocation(num);
                    let el = document.createElement('div');
                    el.className = "trans";

                    el.innerHTML = this.translation[num].zh;

                    el.style.left = this.wordLocation.left + $('.word:eq(' + num + ')').width() / 2 - 13 + "px";

                    el.style.top = this.wordLocation.top - 20 + "px";
                    let e = document.getElementById('readArea');
                    e.appendChild(el);
                    this.currentTransBox.push(num);
                    this.currentTransWord = num;
                }

            },




            {#getSentenceTranslation: function (num) {#}
            {#if($('#trans').css('display') == "none")#}
            {#    $('#trans').css('display','');#}
            {#else if($('#trans').css('display') == "none" && this.currentTransWord == num)#}
            {#    $('#trans').css('display','none');#}
            {#    this.changeTextStyle(num,num+1);#}
            {#    this.getWordLocation(num);#}
            {#    var e = document.getElementById('trans');#}
            {#    e.innerHTML = this.translation[num].sentence_zh;#}
            {#    if (this.wordLocation.left - 190 + $('.word:eq(' + num + ')').width() / 2 - $('#trans').width() / 2 - 13 < 0)#}
            {#        e.style.marginLeft = "0";#}
            {#    else#}
            {#        e.style.marginLeft = this.wordLocation.left - 190 + $('.word:eq(' + num + ')').width() / 2 - $('#trans').width() / 2 - 13 + "px";#}
            {#    if ($('#trans').height() > 35)#}
            {#        e.style.marginTop = this.wordLocation.top + 25 - $('#trans').height() + "px";#}
            {#    else#}
            {#        e.style.marginTop = this.wordLocation.top - 5 + "px";#}
            {#    this.currentTransWord = num;#}
            {# },#}

            changeTextStyle: function (start, end) {
                for (let i = 0; i < start; i++) {
                    document.getElementsByClassName('word')[i].style.textDecoration = "";
                    document.getElementsByClassName('word')[i].style.color = "black";
                }
                for (let i = end; i < this.words.length; i++) {
                    document.getElementsByClassName('word')[i].style.textDecoration = "";
                    document.getElementsByClassName('word')[i].style.color = "black";
                }
                for (let i = start; i < end; i++) {
                    if ($('.word:eq(' + i + ')').css('text-decoration') == 'underline solid rgb(0, 0, 255)') {
                        $('.word:eq(' + i + ')').css('text-decoration', "");
                        $('.word:eq(' + i + ')').css('color', "black");
                    } else {
                        $('.word:eq(' + i + ')').css('text-decoration', "underline");
                        $('.word:eq(' + i + ')').css('color', "blue");
                    }
                }
            },

            catchCurrentWord: function () {
                let gaze_x = x[x.length - 1];
                let gaze_y = y[y.length - 1];
                let i = 0;

                for (; i < this.translation.length; i++) {
                    let word = this.getWordTextLocation(i);
                    if (word.top < gaze_y) {
                        if (word.bottom > gaze_y) {
                            if (word.left < gaze_x) {
                                if (word.right > gaze_x) {
                                    return i;
                                }
                            }
                        }
                    }
                }
                return i;
            },

            catchCurrentTrans: function () {
                let gaze_x = x[x.length - 1];
                let gaze_y = y[y.length - 1];
                let i = 0;
                for(; i < this.currentTransBox.length; i++) {
                    let trans = this.getTransLocation(i);
                    if(trans && trans.top < gaze_y && trans.bottom > gaze_y && trans.left < gaze_x && trans.right > gaze_x){
                        return i;
                    }
                }
                return i;
            },

            autoRandomTranslation: function () {
                let num = this.catchCurrentWord();
                if (num < this.translation.length)
                    this.getWordTranslation(num);
                interventions.push(num);
            },

            getContent: async function () {
                {#axios.post("/xxxx", $.param(this.formData)  //引入jQuery的作用#}
                {#).then((response) => {#}
                {#    this.$nextTick(() => {#}
                {#        this.setSheet();#}
                {#    });});#}

                await axios.get("/text").then((response) => {
                    this.content = response.data[0];
                    let i = 1;
                    while (response.data[i]) {
                        this.translation.push({
                            en: response.data[i].en,
                            zh: response.data[i].zh,
                            sentence_zh: response.data[i].sentence_zh
                        });
                        i++;
                    }
                });
                let num = 0;
                var e = document.getElementById('para');
                var Content = this.content.split('.');
                for (let i = 0; i < Content.length; i++) {
                    var sentence = Content[i].split(' ');

                    for (let j = 0; j < sentence.length; j++) {
                        if (sentence[j] && sentence[j] !== "") {
                            this.words.push(sentence[j].split(',')[0]);
                            var el = document.createElement("button");
                            el.className = "word";
                            el.id = num.toString();
                            el.innerHTML = sentence[j];
                            el.setAttribute("onclick", "getWordTranslation(" + num + ")");
                            el.setAttribute("ondblclick", "getSentenceTranslation(" + num + ")");
                            if (j == sentence.length - 1)
                                el.innerHTML = sentence[j] + '.';
                            e.appendChild(el);
                            num += 1;
                        }
                    }
                }
                setCookie('content', this.content);

                this.auto();
            },

            listen: function () {
                document.addEventListener("mouseup", function (e) {
                    if (window.getSelection().rangeCount === 0 || this.showBox) {
                        return false;
                    }
                    // 获取选中
                    const range = window.getSelection().getRangeAt(0);
                    const comNode = range.commonAncestorContainer;
                    const start = {
                        node: range.startContainer,
                        offset: range.startOffset
                    };
                    const end = {
                        node: range.startContainer,
                        offset: range.endOffset
                    };
                })
            },


            clearPageWords: function () {
                let e = document.getElementById('para');
                while (e.hasChildNodes()) {
                    e.removeChild(e.children[0]);
                }
                e = document.getElementById('readArea');
                while (e.children.length > 1) {
                    e.removeChild(e.children[1]);
                }
                this.content = "";
                this.words = [];
                this.translation = [];
                this.rereading = [];
                this.currentTransWord = -1;
                this.currentTransBox = [];
                this.readSequel = [];
            },


            auto: function () {
                if (stop === false) {
                    setInterval(this.autoRandomTranslation, 5000);
                }

            },
        },
        created() {
            {#document.getElementById('trans').style.display = "none";#}
            {#this.getContent();#}
            {#this.listen();#}
            {#setInterval(()=>{#}
            {#    setTimeout(this.autoRandomTranslation, 0);#}
            {# }, 5000);#}
            {#this.auto();#}
        },
        mounted() {
            window["getWordTranslation"] = (num) => {
                this.getWordTranslation(num);
            }
            window["getSentenceTranslation"] = (num) => {
                this.getSentenceTranslation(num);
            }
        },
    })

    //开始使用
    function get_start() {


        //开启webgazer
        //眼动数据监听
        webgazer.setGazeListener(function (data, elapsedTime) {
            if (data == null) {
                return;
            }
            x.push(data.x);
            y.push(data.y);
            t.push(elapsedTime);

            let num = app.catchCurrentWord();
            if(num < app._data.words.length){
                if (app._data.readSequel != [] && app._data.readSequel[app._data.readSequel.length - 1] && app._data.readSequel[app._data.readSequel.length - 1][0] == num) {
                app._data.readSequel[app._data.readSequel.length - 1][1].push(new Array(data.x, data.y, elapsedTime))
                } else {
                    app._data.readSequel.push(new Array(num, app._data.words[num], new Array(new Array(data.x, data.y, elapsedTime))));
                }
            }else{
                {#num = app.catchCurrentTrans();#}
                {#if(num < this.currentTransBox);#}
            }

        }).begin();
        //全屏
        full_screen();
        //展示阅读内容
        document.getElementById("mainContent").style.display = "inline";
        //隐藏提示
        document.getElementById("tips_begin").style.display = "none";

        app.getContent();
    }

    //监听空格事件
    $(document).keyup(function (event) {

        switch (event.keyCode) {
            case 37: {
                if (app._data.page > 1) {
                    app.clearPageWords();
                    get_base64_gaze_and_intervention();
                    app.getContent();
                    x = [];
                    y = [];
                    app._data.page = app._data.page - 1;
                }
                break;
            }
            case 39: {
                if (app._data.page < app._data.totalPage) {
                    app.clearPageWords();
                    get_base64_gaze_and_intervention();
                    app.getContent();
                    x = [];
                    y = [];
                    app._data.page = app._data.page + 1;
                    break;
                }
            }
            case 32: {
                stop = true;
                webgazer.pause();
                get_base64_gaze_and_intervention();
                //之后的可以不写
                document.getElementById("mainContent").style.display = "none";
                document.getElementById("tips_end").style.display = "inline";
                esc_full_screen();
                console.log(app._data.readSequel);
                break;
            }

        }
    });

    //记录过程中的眼动坐标
    let x = [];
    let y = [];
    let t = [];
    let interventions = [];
    //记录停止
    let stop = false;


    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + "; path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    function get_word_level_gaze_data() {

        $.ajax({
            type: 'POST',
            url: '/word_level_data/',
            data: JSON.stringify(app._data.readSequel),
            dataType: "JSON",
            async: false,
            success: function () {
                console.log("success");
                window.location.href = 'http://127.0.0.1:8000/label';
            },
            error: function () {
                console.log("error");
            },
            processData: false,
            contentType: false

        })
    }

    //截图
    function get_base64_gaze_and_intervention() {
        let opts = {
            //scale: scale, // 添加的scale 参数
            //canvas: canvas, //自定义 canvas
            //logging: false, //日志开关，便于查看html2canvas的内部执行流程
            //width: width, //dom 原始宽度
            //height: height,
            useCORS: true // 【重要】开启跨域配置
        };
        html2canvas($('body')[0], opts).then(canvas => {
            //document.body.appendChild(canvas);
            // canvas宽度
            let canvasWidth = canvas.width;
            // canvas高度
            let canvasHeight = canvas.height;
            console.log(canvasHeight, canvasWidth);
            //sleep(2);
            // 调用Canvas2Image插件
            // let img = Canvas2Image.convertToImage(canvas, canvasWidth, canvasHeight);
            // let image_data = $(img).attr('src');

            let url = canvas.toDataURL();

            // // 调用Canvas2Image插件
            // Canvas2Image.saveAsImage(canvas, canvasWidth, canvasHeight, 'png', filename);

            let formdata = new FormData();
            formdata.append("image", url.toString());
            formdata.append("x", x.toString());
            formdata.append("y", y.toString());
            formdata.append("t", t.toString());
            formdata.append("interventions", interventions.toString());
            $.ajax({
                type: 'POST',
                url: '/data/',
                data: formdata,
                async: false,
                success: function () {
                    get_word_level_gaze_data();
                },
                error: function () {
                    console.log("error");
                },
                processData: false,
                contentType: false

            })
        });
    }

    //禁用滚动条
    function unScroll() {
        var top = $(document).scrollTop();
        $(document).on('scroll.unable', function (e) {
            $(document).scrollTop(top);
        })
    }
</script>
</html>